################################################################################
# Build                                                                        #
################################################################################
/build/
/dist/
/typedoc/
/coverage/

################################################################################
# Dependencies                                                                 #
################################################################################
# Yarn without Zero-Installs
# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
node_modules/
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

################################################################################
# Temporary files                                                              #
################################################################################
*.log
*.tmp
tmp/
logs/

################################################################################
# Other                                                                        #
################################################################################
# Runtime data
pids
*.pid
*.seed
