################################################################################
# Editor                                                                       #
################################################################################
# JetBrains products (Webstorm, IntelliJ IDEA, ...)
.idea/
*.iml

################################################################################
# Build                                                                        #
################################################################################
/build/
/dist/
/typedoc/
/coverage/
/.nyc_output/
/native/target
/native/index.node
/native/artifacts.json
/target/
/artifacts.json

################################################################################
# Dependencies                                                                 #
################################################################################
# Node dependencies directory
node_modules

################################################################################
# Generated configuration files                                                #
################################################################################
src/**/tsconfig.json
src/**/*.tsconfig.json
/tslint.json

################################################################################
# Temporary files                                                              #
################################################################################
*.log
*.tmp
tmp/
logs/

################################################################################
# Other                                                                        #
################################################################################
# Runtime data
pids
*.pid
*.seed
